main section {

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

  }

  ul li {
    list-style: none;
    font: var(--paragraph);
    color: var(--content-secondary);
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
    position: relative;
    user-select: none;
    cursor: pointer;
    height: 49px;
    display: flex;
    align-items: center;

  }

  ul li::before {
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-image: url(../images/icons/checkbox.svg);
    background-size: cover;
    background-position: center;
    top: 1.03125rem;
    left: 0.75rem;
  }

  ul li:hover::before{
    background-image: url(../images/icons/checkbox-hover.svg);
  }

  ul li.checked::before{
    background-image: url(../images/icons/checkbox-selected.svg);
  }

  ul li img{
    position: absolute;
    right: 0.75rem;
    top: 1.03125rem;
    height: 1rem;
    width: 1rem;
    /* text-align: center; */
  }
  



}

  


